APP_NAME=BeaverHealth
APP_ENV=local
APP_KEY=!!!REPLACE!!!
APP_DEBUG=true
APP_URL=http://localhost/
APP_TIMEZONE=UTC
APP_PORT=9991
APP_SERVICE=app

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

LOG_CHANNEL=single
LOG_DEPRECATIONS_CHANNEL=deprecation
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=vuln_db
DB_USERNAME=dev
DB_PASSWORD=password

MYSQL_DATABASE=vuln_db
MYSQL_USER=dev
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false

CACHE_STORE=database
DB_CACHE_TABLE=cache
DB_CACHE_LOCK_TABLE=cache_locks

FILESYSTEM_DISK=local

VITE_APP_NAME="${APP_NAME}"

UPLOAD_LIMIT=100M

COMPOSE_FILE=docker-compose.yaml:docker-compose.dev.yaml
